* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main {
    /* display: flex; */
    justify-content: center;
    /* height: 92vh; */
    

}

ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 1vh 7.5vw;
    border-radius: 9px;
    transition: 0.3s;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}


.btn {
    font-size: 1.5rem;
    background-color: rgba(255, 245, 99, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: black;
    border-radius: 12px;
    transition: 0.3s;
    justify-content: center;
}

.btn:hover {
    scale: 1.05;
}

/*navbar*/
nav {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, #000000 10%, #fff563);
    box-sizing: border-box;
    padding: 10px 25px;
    box-shadow: 0 0 1rem rgba(1, 1, 1, 1.1);
}

nav .logo {
    background: none
}
.logo {
    display: flex;
    gap: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    align-items: center;
    box-shadow: none;
    white-space: nowrap;
    padding: 0;

}

.logo:hover {
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-size: 2.5rem;
    box-shadow: none;
}


/*header*/
.principal {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
}

.principal .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: #E8DF5B;
    transition: 0.3s;

}


.principal h1 {
    font-size: 48px;
    margin-bottom: 16px;
}
.principal h2{
    margin-bottom: 12px;
}

.principal p {
    font-size: 18px;
    margin-bottom: 12px;
}


/*???*/
.about p {
    width: 20%;
    margin: 0 auto;
}

/*main*/

/*section "Nossos serviços"*/

.service-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.service-card {
    font: 1.3rem 'Raleway', serif;
    text-align: justify;
    min-height: 200px;
    max-width: 400px;
    padding: 25px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
    background-color: white;
    border-radius: 20px;
}

/*section "AGENDANDO SUA CONSULTA"*/

.contact-form {
    padding: 2rem;
    background: white;
    max-width: 40rem;
    border-radius: 30px;
    margin:auto;
    box-shadow: 0 0 10px 1px black;
}

.form_cell {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #e6e6e6;
    font-size: 1.2rem;
    border-radius: 26px;
    border: none;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact input {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #1b1b1b;
    border-radius: 26px;
}

.contact-form textarea {
    resize: none;
    margin-bottom: 15px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 26px;
}

.contact-form button {
    padding: 10px;
    background-color: rgba(255, 245, 99, 1);
    color: black;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

/*footer*/

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}



/*burger*/
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

